.dishes.authentics
  .dishes__collection.authentics__collection
    img(src='images/authentics_collection.png', alt='')
    h5 authentics
    h6 Collection
  .dishes__presentation.athletics-author__block
    .dishes-presentation__header
      h3 Generic Oak Bowl
      h3.dishes-presentation__money 87.49 $
      h3.favorites
        i.fa.fa-heart.faved(aria-hidden='true')
        |  Faved
    .dishes-presentation__img
      img(src='images/aunthetics.png', alt='teaports')
    .dishes-presentation__author
      .dishes-presentation__photo.authentics-author__photo
      p BY KARINA KAPOOR
      h1
        | Back 
        br
        | 							to basics
