.footer
  .content
    .footer__icons
      img(src='images/footer_teapots.png', alt='icon')
      img(src='images/footer_shakers.png', alt='icon')
      img(src='images/footer_aunthefication.png', alt='icon')
      p
        | 2014 WARE HOUSE, USA based company. Image right belong to their respective owners.
    .footer__logo
      img(src='images/footer_warehouse.png', alt='warehouse')
      p warehouse
