.header
  .header__logo
    a(href='index.html')
      img(src='images/logo.svg', alt='Logo')
  .spice
    .spice__text
      h4 Cork Salt & Pepper
      h4 45.50  $
    .spice__bottles
      .spice__bottles_salt
      .spice__bottles_pepper
    .spice__author
      .spice-author__photo
      p BY MATERIA & NENDO
      h1
        | Good 
        br
        | Things come 
        br
        |       in Paris
  .header__triangle
    p
      img(src='images/arrow_left.png', alt='Arrow')
      img(src='images/salt_bottle.png', alt='salt bottle')
      img(src='images/arrow_right.png', alt='Arrow')
  include navigation