.nav
  #nav__menu.nav__menu_closed
    a#nav-menu__link_open.nav-menu__link(href='#')
      img(src='images/icon_home.png', alt='home')
    a.nav-menu__link(href='#')
      img(src='images/icon_diamond.png', alt='diamond')
    a.nav-menu__link(href='#')
      img(src='images/icon_search.png', alt='search')
  #nav__content
    .nav-list__header
      span Warehouse
      a#nav-list__close(href='#')
        img(src='images/close.svg', alt='')
    nav.nav__list
      .nav__item
        a(href='#')
          .nav-item__img
            img(src='images/nav_item1.png', alt='')
          h2 BOWLS  &  PANS
      .nav__item
        a(href='#')
          .nav-item__img
            img(src='images/nav_item2.png', alt='')
          h2 CUPS
      li.nav__item
        a(href='#')
          .nav-item__img
            img(src='images/nav_item3.png', alt='')
          h2 DISPENSERS
      .nav__item
        a(href='#')
          .nav-item__img
            img(src='images/nav_item4.png', alt='')
          h2 FURNITURE
      .nav__item
        a(href='#')
          .nav-item__img
            img(src='images/nav_item5.png', alt='')
          h2 TABLEWARES
      .nav__item
        a(href='#')
          .nav-item__img
            img(src='images/nav_item6.png', alt='')
          h2 CUTLERY
      .nav__item
        a(href='#')
          .nav-item__img
            img(src='images/nav_item7.png', alt='')
          h2 PLANTS & DECO
