.dishes.pots
  .dishes__collection.pots__collection
    img(src='images/TeaPots.png', alt='')
    h5 Seven pots
    h6 Collection
  .dishes__presentation
    .dishes-presentation__header
      h3 Kettle Thermo Pot
      h3.dishes-presentation__money 274.50 $
      h3.favorites
        i.fa.fa-heart(aria-hidden='true')
        |  ADD TO FAVS
    .dishes-presentation__img
      img(src='images/tea_teapots.png', alt='teaports')
    .dishes-presentation__author.pots__author
      .dishes-presentation__photo.pots-author__photo
      p BY NOOR JAHAAN
      p.dash -
      h1
        | Tea 
        br
        | 							O’Clock
    .pots__arrow
      i.fa.fa-angle-right(aria-hidden='true')
