.dishes.shakers
  .dishes__presentation
    .dishes-presentation__header
      h3 Salt & Pepper  Grinder
      h3.dishes-presentation__money 75.50 $
      h3.favorites
        i.fa.fa-heart.faved(aria-hidden='true')
        |  Faved
    .dishes-presentation__img
      img(src='images/ebony.png', alt='ebony')
    .dishes-presentation__author
      .dishes-presentation__photo.shakers-author__photo
      p BY Amisha Patel
      h1
        | Ebony & 
        br
        |  Ivory
  .dishes__collection.shakers__collection
    img(src='images/shakers.png', alt='')
    h5 Shakers
    h6 Collection
